<header class="header">
    <span class="logo">
        <img src="assets/icons/chair.png" class="chairsIcon"/>
        <span class="logo_name">Chair Zone</span> 
    </span>
    <nav>
        <ul class="navItems">
            <span *ngFor="let item of listItems">
                <li (click)="handlenavigation(item)">{{item}}</li> 
            </span>
            <a *ngIf="!isSignedIn; else welcome"><button class="contactButton" (click)="signIn()">Sign In</button></a>
            <ng-template #welcome> 
                <span style="position: relative;">
                <img src="assets/icons/person-circle.svg" height="26px" style="margin-left: 20px; cursor: pointer; " (click)="showDetails()">
                <span class="userDetails" *ngIf="showUserDetails">
                    <span class="userName" style="font-weight: 600;;">Deepu Krishna</span>
                    <span class="userName" (click)="signOut()">Sign Out</span>
                </span>
            </span>
            </ng-template>
        </ul>
    </nav>
    <span class="hamburgerMenu" (click)="toggleHamburger()">
        <span class="hamLine"></span>
        <span class="hamLine"></span>
        <span class="hamLine"></span>
    </span>
</header>

<div class="menuItems">
    <ul class="itemsHolder" [style.height.px] = "showMenuItems? 100 : 0">
        <span *ngFor="let item of listItems">
            <li (click)="handlenavigation(item)">{{item}}</li> 
        </span>         
    </ul>
</div>