<header class="header">
    <span class="logo">
        <img src="assets/icons/chair.png" class="chairsIcon"/>
        <span class="logo_name">Chair Zone</span> 
    </span>
    <nav>
        <ul class="navItems">
            <span *ngFor="let item of listItems">
                <li (click)="handlenavigation(item)">{{item}}</li> 
            </span>
            <a><button class="contactButton" (click)="signIn()">Sign In</button></a>
        </ul>
    </nav>
    <span class="hamburgerMenu" (click)="toggleHamburger()">
        <span class="hamLine"></span>
        <span class="hamLine"></span>
        <span class="hamLine"></span>
    </span>
</header>

<div class="menuItems">
    <ul class="itemsHolder" [style.height.px] = "showMenuItems? 100 : 0">
        <span *ngFor="let item of listItems">
            <li (click)="handlenavigation(item)">{{item}}</li> 
        </span>         
    </ul>
</div>