.errorBox {
    border: 1px solid red;
    border-radius: 5px;
    padding-top: 14px;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 14px;
    background-color: rgb(254, 241, 241);
    width: 300px;
}

.errorhead {
    // font-weight: bold;
    color: red;
    padding-bottom: 5px;
    font-size: 18px;
}

.errorContainer {
    position: absolute;
    top: 30px;
    z-index: 1000;
    left: 40%;
}

.filter-green{
    position: relative;
    top:-2px;
    margin-right: 2px;
    filter: invert(36%) sepia(79%) saturate(7337%) hue-rotate(352deg) brightness(92%) contrast(128%);
} 

.errorText {
    font-size: 14px;
    padding-left: 1px;
    color: #000;
}