

<div class="row">
    <div class="col-md-12 cardHolder">
        <div class="logInCard">
            <div class="header py-4">
                Login
            </div>
            <div class="mt-4">
                <form [formGroup]="logInForm" autocomplete="off">
                    <div class="username d-flex justify-content-center py-1">
                        <div>
                            <label class="custom-field">
                                <input formControlName = 'email' style="width: 300px;" type="text">
                                <span class="labelStyles" [ngClass]="{'displayTop':logInForm.controls['email'].value}">Enter Email</span>
                            </label>
                        </div>
                    </div>
                    <div class="password d-flex justify-content-center mt-4 pb-4">
                        <div>
                            <label class="custom-field">
                                <input formControlName = 'password' style="width: 300px;" type="password">
                                <span class="labelStyles" [ngClass]="{'displayTop':logInForm.controls['password'].value}">Password</span>
                            </label>
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="button" (click)="submitForm()" class="logInButton">Login</button>
                    </div>
                    <div class="d-flex justify-content-center mt-3 helperClass">
                        Not a member? <span class="anchorClass" (click)="redirectToSignUp()">Signup Now!</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>